
.productShowmore{
    background-color: var(--white-background-color);
    padding: 15px 30px;
    margin: auto;
    margin-top: 20px;
    font-weight: bold;
    border: 1px solid var(--text-color);
    display: block;
    margin: 20 auto;
}

.headBreadcrumb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 30px 30px 0px 30px; */
    color: var(--text-color);
    font-size: 16px;
}
.results{
    width: 100%;
    text-align: right;
    margin-right: 30px;
}
